<div class="wrapper-sm"></div>
<div class="col-sm-12" ng-controller="PrivilegeListCtrl">
	<toaster-container
		toaster-options="{'position-class': 'toast-top-right', 'close-button':true}"></toaster-container>
	<div class="panel panel-default lter b-b wrapper-md ">
		<h3 class="m-n font-thin h3">资源管理</h3>
	</div>
	<div class="panel panel-default">
		<div class="hbox hbox-auto-xs hbox-auto-sm">
			<div class="col col-sm-3">
				<div class="row wrapper"></div>
				<div class="dk r r-2x">
					<div class="panel-default font-bold">
						<ul class="nav">
							<li class="pull-left">
								<button class="btn btn-sm btn-default" ui-toggle-class="show"
									target="#m" ng-click="expandOrCollapse(true)">
									<i class="fa fa-plus text"></i> <span class="text">展开所有</span>
									<i class="fa fa-minus text-active"></i> <span
										class="text-active">收起所有</span>
								</button>
								<button class="btn btn-sm btn-default"
									ng-click="add_root_branch()" title="添加根">
									<i class="fa fa-plus-square"></i>
								</button>
								<button class="btn btn-sm btn-default"
									ng-click="try_adding_a_branch()" title="添加子项">
									<i class="glyphicon glyphicon-plus"></i>
								</button>
								<button class="btn btn-sm btn-default" ng-click="delPrivile()"
									title="删除">
									<i class="glyphicon glyphicon-trash"></i>
								</button>
							</li>
						</ul>
					</div>
					<div class="wrapper-sm"></div>
					<span ng-if="doing_async">...loading...</span>
					<abn-tree tree-data="data" tree-control="tree"
						on-select="selected(branch)" expand-level="2" hasChecked=false>
					</abn-tree>
				</div>
			</div>
			<div class="col col-sm-9">
				<div class="panel-body">
					<form class="bs-example form-horizontal">
						<div class="col-sm-4">
							<div class="row wrapper"></div>
							<div class="form-group">
								<div class="col-sm-12">
									<label class="col-sm-3 control-label">父级资源</label>
									<div class="col-sm-7">
										<input type="text" name="parentName"
											ng-model="privilege.parentName" class="form-control"
											placeholder="父级资源" readonly="readonly">
									</div>
								</div>
							</div>
							<div class="form-group">
								<div class="col-sm-12">
									<label class="col-sm-3 control-label">资源名称</label>
									<div class="col-sm-7">
										<input type="text" name="name" ng-model="privilege.name"
											class="form-control" placeholder="资源名称">
									</div>
								</div>
							</div>
							<div class="form-group">
								<div class="col-sm-12">
									<label class="col-sm-3 control-label">图标样式</label>
									<div class="col-sm-5">
										<input type="text" name="iconClass"
											ng-model="privilege.iconClass" class="form-control"
											placeholder="图标样式">
									</div>
									<div class="col-sm-2">
										<i class="{{privilege.iconClass}}" style="font-size: 30px;"></i>
									</div>
								</div>
							</div>
							<div class="form-group">
								<div class="col-sm-12">
									<label class="col-sm-3 control-label">是否菜单</label>
									<div class="col-sm-7">
										<label class="i-switch bg-primary m-t-xs m-r"> <input
											type="checkbox" ng-model="privilege.isMenu"
											ng-checked="privilege.isMenu"> <i></i>
										</label>
									</div>
								</div>
							</div>
							<div class="form-group">
								<div class="col-sm-12">
									<label class="col-sm-3 control-label">权限验证</label>
									<div class="col-sm-7">
										<label class="i-switch bg-primary m-t-xs m-r"> <input
											type="checkbox" ng-model="privilege.isPrivilege"
											ng-checked="privilege.isPrivilege"> <i></i>
										</label>
									</div>
								</div>
							</div>
							<div class="form-group">
								<div class="col-sm-12">
									<label class="col-sm-3 control-label">排序</label>
									<div class="col-sm-7">
										<input type="text" name="sort" ng-model="privilege.sort"
											class="form-control" placeholder="排序">
									</div>
								</div>
							</div>
						</div>
						<div class="col-sm-8">
							<div class="row wrapper">
								<div class="col-sm-10"></div>
								<div class="col-sm-2">
									<div class="input-group pull-right">
										<button class="btn btn-sm btn-default" ng-click="addSource()">
											<i class="glyphicon glyphicon-plus" title="添加"></i>
										</button>
									</div>
								</div>
							</div>
							<div class="table-responsive">
								<table class="table">
									<thead>
										<tr>
											<th width="15%">是否菜单</th>
											<th width="40%">资源URL</th>
											<th width="20%">资源说明</th>
											<th width="20%">资源路由</th>
											<th width="20%"></th>
										</tr>
									</thead>
									<tbody>
										<tr ng-repeat="source in sourceList track by $index">
											<td><label class="i-switch bg-primary m-t-xs m-r">
													<input type="checkbox" ng-model="source.isMenu"
													ng-checked="source.isMenu"> <i></i>
											</label></td>
											<td><input type="text" name="resourcesUrl"
												ng-model="source.resourcesUrl" class="form-control"
												placeholder="资源URL"></td>
											<td><input type="text" name="memo"
												ng-model="source.memo" class="form-control"
												placeholder="资源说明"></td>
											<td><input type="text" name="router"
												ng-model="source.router" class="form-control"
												placeholder="资源路由"></td>
											<td><button class="btn btn-sm btn-default"
													ng-click="delSource($index,{{source}})">
													<i class="glyphicon glyphicon-trash" title="删除"></i>
												</button></td>
										</tr>
									</tbody>
								</table>
							</div>
						</div>
						<div class="col-sm-12">
							<div class="form-group">
								<div class="col-sm-7 col-sm-offset-2">
									<button type="button" class="btn pull-left btn-info"
										ng-click="submit()">提交</button>
								</div>
							</div>
						</div>
					</form>
				</div>
			</div>
		</div>
	</div>
</div>