<div class="wrapper-sm"></div>
<div class="col-sm-12" ng-controller="TableConfigCtrl">
	<toaster-container toaster-options="{'position-class': 'toast-top-right', 'close-button':true}"></toaster-container>
	<div class="panel panel-default lter b-b wrapper-md ">
		<h3 class="m-n font-thin h3">表格配置</h3>
	</div>
	<div class="panel panel-default">
		<div class="hbox hbox-auto-xs hbox-auto-sm">
			<div class="col col-sm-3">
				<div class="row wrapper">
					<div class="col-sm-10"></div>
					<div class="col-sm-2">
						<div class="input-group pull-right">
							<button class="btn btn-sm btn-default" ng-click="addTable()">
								<i class="glyphicon glyphicon-plus" title="添加"></i>
							</button>
						</div>
					</div>
				</div>
				<div class="table-responsive">
					<table class="table">
						<thead>
							<tr>
								<th class="col-3">表名</th>
								<th class="col-3">描述</th>
								<th class="col-3"></th>
							</tr>
						</thead>
						<tbody id="tableBody">
							<tr ng-repeat="table in tableList track by $index" style="{{table.isSelect?'background-color: #f9f1f1':''}}" ng-click="selected({{table}},$index)">
								<td>{{table.name}}</td>
								<td>{{table.memo}}</td>
								<td>
									<button class="btn btn-rounded btn-sm btn-icon btn-default" title="删除" ng-click="delTable($index,{{table}})"><i class="glyphicon glyphicon-trash"></i></button>
								</td>
							</tr>
						</tbody>
					</table>
				</div>
			</div>
			<div class="col col-sm-9">
				<div class="panel-body">
					<form class="bs-example form-horizontal form-validation" name="form">
						<div class="col-sm-4">
							<div class="wrapper-md"></div>
							<div class="form-group">
								<div class="col-sm-12">
									<label class="col-sm-3 control-label">表名</label>
									<div class="col-sm-7">
										<input type="text" name="name"
											ng-model="table.name" class="form-control"
											placeholder="表名" required>
									</div>
								</div>
							</div>
							<div class="form-group">
								<div class="col-sm-12">
									<label class="col-sm-3 control-label">描述</label>
									<div class="col-sm-7">
										<input type="text" name="memo" ng-model="table.memo"
											class="form-control" placeholder="描述" required>
									</div>
								</div>
							</div>
						</div>
						<div class="col-sm-8">
							<div class="col-sm-10"></div>
							<div class="col-sm-2">
								<div class="input-group pull-right">
									<button class="btn btn-sm btn-default" ng-click="addColumn()">
										<i class="glyphicon glyphicon-plus" title="添加"></i>
									</button>
								</div>
							</div>
							<div>
								<table class="table">
									<thead>
										<tr>
											<th width="25%">字段名称</th>
											<th width="25%">字段说明</th>
											<th width="25%">字段类型</th>
											<th width="25%">字段长度</th>
											<th width="25%"></th>
										</tr>
									</thead>
									<tbody>
										<tr ng-repeat="column in columnList track by $index">
											<td><input type="text" name="name" ng-model="column.name" class="form-control"
												placeholder="字段名称" ng-pattern="/^[a-zA-Z_]{2,15}$/" required></td>
											<td><input type="text" name="memo" ng-model="column.memo" class="form-control"
												placeholder="字段说明" required></td>
											<td>
												<select ui-jq="chosen" style="width:140px;" ng-model="column.columnType" required>
													<option ng-repeat="type in typeList" ng-if="type.val==column.columnType" value="{{type.val}}" selected>{{type.name}}</option>
													<option ng-repeat="type in typeList" ng-if="type.val!=column.columnType" value="{{type.val}}">{{type.name}}</option>
												</select>
											</td>
											<td><input type="text" name="columnLength" ng-model="column.columnLength" class="form-control"
												placeholder="字段长度" required></td>
											<td><button class="btn btn-sm btn-default" ng-click="delColumn($index,{{column}})">
													<i class="glyphicon glyphicon-trash" title="删除"></i>
												</button></td>
										</tr>
									</tbody>
								</table>
							</div>
						</div>
						<div class="col-sm-12">
							<div class="form-group">
								<div class="col-sm-7 col-sm-offset-2">
									<button type="button" class="btn pull-left btn-info"
										 ng-disabled="form.$invalid" ng-click="submit()">提交</button>
								</div>
							</div>
						</div>
					</form>
				</div>
			</div>
		</div>
	</div>
</div>