<!-- list -->
<ul class="nav">
	<li ng-repeat="menu in app.menus" ui-sref-active="active">
			<a ui-sref="{{menu.router}}" ng-if="menu.children == null"> 
				<i class="{{menu.iconClass}}"></i>
				<span class="font-bold">{{menu.name}}</span>
			</a>
			
			<a href class="auto" ng-if="menu.children.length > 0"> 
				<span class="pull-right text-muted">
					<i class="fa fa-fw fa-angle-right text"></i>
					<i class="fa fa-fw fa-angle-down text-active"></i>
				</span> 
				<i class="{{menu.iconClass}}"></i> 
				<span class="font-bold">{{menu.name}}</span>
			</a>
			<ul class="nav nav-sub dk" ng-if="menu.children.length > 0">
			    <li class="nav-sub-header">
			        <a href>
			          <span>{{menu.name}}</span>
			        </a>
			    </li>
				<li ui-sref-active="active" ng-repeat="children in menu.children">
					<a ui-sref="{{children.router}}" ng-if="children.router != null">
						<span class="font-bold">{{children.name}}</span>
					</a>
					<a ng-if="children.router == null">
						<span class="font-bold">{{children.name}}</span>
					</a>
				</li>
			</ul>
	</li>
</ul>
<!-- / list -->