<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.medicine.framework.dao.privilege.RoleMapper">
	
	<sql id="role_columns">
        id,
        code,
        name,
        create_User_Id as createUserId,create_Date as createDate,edit_User_id as editUserId,
        edit_Date as editDate,delete_flag as deleteFlag,memo
    </sql>
	
	<insert id="save" parameterType="com.medicine.framework.entity.privilege.Role">
		insert into yj_role
		 (id ,code,name,create_User_Id,create_Date,edit_User_id,edit_Date,delete_flag,memo)
        values 
        (#{id} ,#{code,jdbcType=VARCHAR},#{name},#{createUserId,jdbcType=VARCHAR},
        #{createDate},#{editUserId,jdbcType=VARCHAR},#{editDate},#{deleteFlag,jdbcType=INTEGER},#{memo,jdbcType=VARCHAR})
	</insert>
	
	<update id="update" parameterType="com.medicine.framework.entity.privilege.Role">
		update yj_role 
		<set>
			<if test="name !=null">name=#{name},</if>
			<if test="code !=null">code=#{code},</if>
			<if test="memo !=null">memo=#{memo}</if>
		</set>
		where id=#{id}
	</update>
	
	<update id="delete" parameterType="com.medicine.framework.entity.privilege.Role">
		update yj_role set delete_flag=1 where id=#{id}
	</update>
	
	<select id="queryListPage" resultType="com.medicine.framework.entity.privilege.Role">
		select 
			<include refid="role_columns"/> 
		from yj_role
		where delete_flag = 0
        <if test="searchVal !=null and searchVal != ''">
        	and (name like concat(concat('%',#{searchVal}),'%') 
       		or code like concat(concat('%',#{searchVal}),'%')
       		or memo like concat(concat('%',#{searchVal}),'%'))
        </if>
	</select>
	
	<select id="queryListByUser" parameterType="String" resultType="com.medicine.framework.vo.privilege.RoleVO">
		select 
	    	decode(ru.role_id,null,0,1) isChecked,
	    	r.id,r.name,r.code,r.memo
		from yj_role r
    	left join (select role_id,user_id from yj_user_role where user_id=#{userId}) ru on ru.role_id=r.id
		where delete_flag = 0
        <if test="searchVal !=null and searchVal != ''">
        	and (name like concat(concat('%',#{searchVal}),'%') 
       		or code like concat(concat('%',#{searchVal}),'%')
       		or memo like concat(concat('%',#{searchVal}),'%'))
        </if>
        order by decode(ru.role_id,null,0,1) desc
	</select>
	
</mapper>