<div class="wrapper-sm"></div>
<div class="col-sm-12" ng-controller="RoleListCtrl">
	<toaster-container toaster-options="{'position-class': 'toast-top-right', 'close-button':true}"></toaster-container>
	<div class="panel panel-default lter b-b wrapper-md ">
		<h3 class="m-n font-thin h3">角色列表</h3>
	</div>
	<div class="panel panel-default">

		<div class="row wrapper">
			<div class="col-sm-3">
				<div class="input-group">
					<input type="text" class="input-sm form-control"
						placeholder="Search" ng-model="searchVal"
						ng-keyup="search($event)"> <span class="input-group-btn">
						<button class="btn btn-sm btn-default" type="button" ng-click="queryList()">Go!</button>
					</span>
				</div>
			</div>
			<div class="col-sm-7"></div>
			<div class="col-sm-2 m-b-xs">
				<ul class="nav">
					<li>
						<button class="btn btn-default btn-addon" ng-click="addRole()">
							<i class="fa fa-plus"></i>添加角色
						</button>
					</li>
				</ul>
			</div>
		</div>
		<div class="table-responsive">
			<table class="table table-striped">
				<thead>
					<tr>
						<th class="col-3">角色名</th>
						<th class="col-3">编码</th>
						<th class="col-3">描述</th>
						<th class="col-3">操作</th>
					</tr>
				</thead>
				<tbody>
					<tr ng-repeat="role in roleList">
						<td title="{{role.name}}">{{role.name}}</td>
						<td title="{{role.code}}">{{role.code}}</td>
						<td title="{{role.memo}}">{{role.memo}}</td>
						<td>
							<button class="btn btn-rounded btn-sm btn-icon btn-default" title="编辑" ng-click="editRole({{role}})"><i class="glyphicon glyphicon-edit"></i></button>
							<button class="btn btn-rounded btn-sm btn-icon btn-default" title="删除" ng-click="delRole({{role}})"><i class="glyphicon glyphicon-trash"></i></button>
							<button class="btn btn-rounded btn-sm btn-icon btn-default" title="权限" ng-click="priRole({{role}})"><i class="glyphicon glyphicon-link"></i></button>
						</td>
					</tr>
				</tbody>
			</table>
		</div>
		<div class="panel-footer">
			<tm-pagination conf="paginationConf"></tm-pagination>
		</div>
	</div>
</div>