<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.medicine.death.dao.table.ColumnConfigMapper">

    <select id="queryColumn" parameterType="com.medicine.death.entity.table.ColumnConfig" resultType="com.medicine.death.entity.table.ColumnConfig">
    	select 
	    	id,name,memo,
	    	column_length as columnLength,
	    	column_type as columnType,
	    	table_id as tableId
    	from yj_column_config 
    	where id=#{id}
    </select>
    
    <select id="queryList" parameterType="com.medicine.death.entity.table.ColumnConfig" resultType="com.medicine.death.entity.table.ColumnConfig">
    	select 
	    	id,name,memo,
	    	column_length as columnLength,
	    	column_type as columnType,
	    	table_id as tableId
    	from yj_column_config
    	where 1=1 
    	<if test="tableId != null and tableId != ''">
			and table_id=#{tableId}
    	</if>
    </select>
    
    <select id="queryListByIds" resultType="com.medicine.death.entity.table.ColumnConfig">
    	select 
	    	id,name,memo,
	    	column_length as columnLength,
	    	column_type as columnType,
	    	table_id as tableId
    	from yj_column_config
    	where 1=1 and id in 
    	<foreach collection="array" item="id" index="index" open="(" separator="," close=")">
    		#{id}
    	</foreach>
    </select>
    
    <insert id="save" parameterType="com.medicine.death.entity.table.ColumnConfig">
    	insert into yj_column_config 
    		(id,name,memo,column_length,column_type,table_id)
    	values
    		(#{id},#{name},#{memo},#{columnLength,jdbcType=NUMERIC},#{columnType},#{tableId})
    </insert>
    
    <update id="update" parameterType="com.medicine.death.entity.table.ColumnConfig">
    	update yj_column_config
    	<set>
    		<if test="name !=null and name != ''">
    			name = #{name},
    		</if>
    		<if test="memo !=null and memo != ''">
    			memo = #{memo},
    		</if>
    		<if test="columnLength !=null and columnLength != ''">
    			column_length = #{columnLength},
    		</if>
    		<if test="columnType !=null and columnType != ''">
    			column_type = #{columnType}
    		</if>
    	</set>
    	where id=#{id}
    </update>
    
    <delete id="delete" parameterType="com.medicine.death.entity.table.ColumnConfig">
    	delete from yj_column_config where id=#{id}
    </delete>
    
    <delete id="deleteByTableId" parameterType="String">
    	delete from yj_column_config where table_id=#{tableId}
    </delete>
    
</mapper>