<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.medicine.framework.dao.sys.AttachmentMapper">

    <sql id="attachment_content_column">
        id,
        name,
        type,
        url,
        format,
        user_id as userId,
        upload_date as uploadDate,
        length,
        memo
    </sql>

    <sql id="attachment_column">
        id,
        name,
        type,
        create_user_id as createUserId,
        create_date as createDate,
        edit_user_id as editUserId,
        edit_date as editDate
    </sql>
    
    <!-- 添加附件主表记录 -->
    <insert id="addAttachment" parameterType="Attachment">
        insert into yj_attachment 
        	(id,name,type,create_user_id,create_date,edit_user_id,edit_date)
        values 
        	(#{id},#{name,jdbcType=VARCHAR},#{type,jdbcType=VARCHAR},#{createUserId},#{createDate},#{editUserId},#{editDate})
    </insert>

    <!-- 添加附件内容表记录 -->
    <insert id="addAttachmentContent" parameterType="AttachmentContent">
        insert into yj_attachment_content 
        	(id,name,type,url,format,user_id,upload_date,memo,length,attachment_id)
        values 
        	(#{id},#{name},#{type},#{url},#{format},#{userId},#{uploadDate},#{memo,jdbcType=VARCHAR},
        		#{length,jdbcType=INTEGER},#{attachmentId})
    </insert>
    
    <!-- 通过id查询附件主表记录对象 -->
    <select id="selectAttachmentById" parameterType="java.lang.String" resultType="Attachment">
        select
        <include refid="attachment_column"/>
        FROM yj_attachment 
        where 1=1 and id=#{id}
    </select>
    
    <!-- 查询Apportion信息对象 -->
    <select id="selectAttachmentContentById" parameterType="java.lang.String" resultType="AttachmentContent">
        select
        <include refid="attachment_content_column"/>
        FROM yj_attachment_content WHERE id =#{id}
    </select>
    
    <!-- 根据附件id查询所有附件内容  -->
    <select id="selectAttachmentContentByAttachmentId" parameterType="java.lang.String" resultType="AttachmentContent">
        select
        <include refid="attachment_content_column"/>
        FROM yj_attachment_content 
        WHERE 1=1 and attachment_id=#{attachmentId}
    </select>
    
    <delete id="delAttachmentByContent" parameterType="List">
    	delete from yj_attachment_content where id in 
    	<foreach collection="ids" item="id" index="index" open="(" separator="," close=")">
    		#{id}
    	</foreach>
    </delete>
    
    <delete id="delAttachmentByAttachment" parameterType="String">
    	delete from yj_attachment_content where attachment_id=#{attachmentId}
    </delete>
    
</mapper>